/* Responsive styles for max-width 800px */
body {
  font-size: var(--size-font-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0 none;
  margin-left: 0;
  padding-left: 0;
}

input[type='text'],
input[type='email'] {
  width: 223px;
}

.Header {
  .Home__Header__Wrapper {
    display: block;
    position: relative;
    padding: 25px;

    h1 {
      font-size: var(--size-font-xlarge);
      margin-bottom: 10px;
    }

    h2 {
      font-size: var(--size-font-large);
    }
    h1,
    h2 {
      margin-left: 60px;
    }
  }
  .Home__Header__Wrapper .Home__Header__Logo {
    position: absolute;
    top: 60px;
    left: 22px;
    height: 50px;
  }
  .Home__Header__Content {
    margin: 60px 0 0 0;
    padding: 0;
    border: 0 none;
    width: auto;
  }
  .Home__Header__Buttons .Button {
    padding: 12px;
    margin-top: 15px;
    font-size: var(--size-font-medium);
  }

  .Header__Nav {
    padding: 0;
    display: block;

    section {
      a,
      ul,
      .Icon,
      .Button {
        display: none;
      }

      #logo {
        display: inline-block;
        margin-left: 25px;
      }
    }

    section:first-of-type {
      height: 91px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  &.Header__Home {
    section:first-of-type {
      height: 0;
    }

    &.Header--menuOpen {
      background: var(--color-black);
    }
  }
  &.Header--menuOpen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    #logo {
      position: absolute;
      top: -71px;
      left: 0;
    }

    .Home__Header__Logo,
    .Home__Header__Content {
      display: none;
    }

    .Header__Nav {
      section {
        a,
        ul,
        .Icon,
        .Button {
          display: block;
        }

        a {
          color: var(--color-red);
        }

        ul {
          margin: 0;

          li {
            display: list-item;
          }
        }

        a.active {
          border: 0 none;
          font-weight: normal;
        }
      }

      .Home__Header__Buttons {
        display: none;
      }

      .Header__Nav__Menu,
      .Header__Nav__Social {
        background-color: var(--color-white);
      }

      .Header__Nav__Menu {
        position: absolute;
        top: 91px + var(--banner-offset);
        left: 0;
        right: 0;
        height: 394px;
        padding-top: 91px;

        ul {
          border-top: 1px solid var(--color-grayLight);
          margin: 0 25px;
          padding: 10px 0;

          li {
            padding: 0;
          }
        }
      }
      .Header__Nav__Social {
        position: absolute;
        top: 485px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: left;
        padding: 0 15px;

        .Icon {
          display: inline-block;
        }

        .Button {
          color: var(--color-white);
          background-color: var(--color-red);
          margin: 0;
          text-align: center;
          position: absolute;
          top: -369px + var(--banner-offset);
          left: 25px;
        }
      }
    }
    .Header__Nav__Button__Hamburger {
      display: none;
    }
    .Header__Nav__Button__X {
      display: inline-block;
    }
  }

  .Header__Nav button.Header__Nav__Button {
    display: inline-block;
    z-index: 1000;
    padding: 0 17px;
  }
}

.Stream__Embedded {
  width: 350px;
  height: 200px;
}

.Content .Home__TicketCard {
  display: block;

  h2 {
    font-size: var(--size-font-xlarge);
  }
}

.Content .Stream__Caption {
  img {
    width: 30px;
  }
  h2 {
    vertical-align: middle;
    line-height: 30px;
  }
  .Stream__Embedded {
    width: 350px;
    height: 200px;
  }
}

.Content .Venue {
  .Venue__Details {
    display: block;

    .Venue__Details__Mapbox {
      margin-right: 0;

      button,
      .Button {
        margin-bottom: 15px;
      }

      img {
        width: 300px;
      }
    }
  }
}

.Home__Header .Countdown {
  margin-bottom: 25px;
}

.Sponsors__Logos img {
  max-width: 250px;
}

.Content h2,
.Content section > h2 {
  font-size: var(--size-font-medium);
  margin: 0;
  margin-bottom: 25px;
}
.Content section {
  padding: 0 0 25px 0;

  &.highlight {
    padding: 15px;
    margin-bottom: 50px;

    .Button,
    button {
      margin-bottom: 15px;
    }
  }
}

.Content,
.Footer {
  padding: 25px;
}

.Footer {
  height: 750px;

  .Footer__Grid {
    display: block;
    position: relative;
  }
  .Footer__Tickets {
    float: none;
    width: 100%;
  }
  .Footer__Grid__Right {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
  }
  .Footer__Grid__Left {
    position: relative;
    top: 200px;
  }

  .Newsletter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 130px;
    grid-template-areas:
      'header header'
      'input button';

    .Newsletter__Label {
      margin: 0 0 12px;
      grid-area: header;
    }

    > input[type='email'] {
      grid-area: input;
      width: 100%;
    }

    > button {
      grid-area: button;
      white-space: nowrap;
    }
  }
}

.Schedule__Session {
  display: block;
  position: relative;
  padding: 25px 0;

  .Schedule__Session__Description h4 {
    margin-right: 70px;
  }

  .Schedule__Session__Avatar {
    position: absolute;
    top: 30px;
    right: 0;
  }
}
